{% extends 'barbecue/layout.html' %}

{% block title %}

    About us

{% endblock %}

{% block body %}

    <div class="container">
        
        <div id="squad">

            <div class="d-flex justify-content-center content-about" id="title-about">
                <h2>The restaurant</h2>

                <div id="text-about">
                    <p>Sed dapibus magna ut urna feugiat consequat. Suspendisse ultricies libero vestibulum, euismod massa sit amet, 
                        tincidunt ante. Vestibulum id sagittis velit, molestie sodales quam. Morbi et tincidunt felis, vel posuere purus. 
                        Pellentesque porttitor tortor sodales metus accumsan, non pharetra justo semper.</p>
                    <p>Morbi sit amet nisl at erat suscipit tempus dictum eget eros. Curabitur maximus euismod nisi maximus facilisis. 
                        Vestibulum luctus neque vitae suscipit imperdiet. Aenean eros sem, eleifend dignissim urna a, tempus feugiat arcu. 
                        Nullam quis lacus posuere turpis faucibus gravida. Nulla aliquet quam vitae lorem molestie venenatis.</p>
                    <p>Morbi iaculis, leo eu vehicula efficitur, arcu ex pulvinar justo, eu auctor enim ipsum sit amet turpis. 
                        Phasellus tempor mauris et laoreet pharetra.</p>
                </div>

                <span id='img-about'></span>
            </div>  

        </div>
    </div>


{% endblock %}