{% extends 'barbecue/layout.html' %}

{% block title %}

    Contact us

{% endblock %}

{% block body %}

    <div class="container">

        <div id="box_contact" class="d-flex justify-content-center">
            <div id="row_contact" class="row">

                <p><img src="../../static/img/social-network-whatsapp.svg" alt=""></p>
                <p><img src="../../static/img/social-network-instagram.svg" alt=""></p>
                <p><img src="../../static/img/social-network-email.svg" alt=""></p>

            </div>
        </div>

    </div>

{% endblock %}