{% extends 'barbecue/layout.html' %}

{% block title %}

    Reservation

{% endblock %}

{% block body %}

    <div class="container">
        
        <div id="background_reservation">

            <div class="d-flex form-reservation justify-content-center">

                        <div class="row">
                            <input type="date">
                        </div>
                        <div class="row">
                            <input type="time">
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Take your reservation!</button>
                        </div>    
        
            </div>

        </div>

    </div>


{% endblock %}