{% extends 'barbecue/layout.html' %}

{% block title %}

    Reservation

{% endblock %}

{% block body %}

    <div class="container">
        
        <div id="background_reservation">
            
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form_reservation">
                                <input type="date" name="date_reserve" id="date_reserve" required>
                            </div>
                            <div class="form_reservation" >
                                <input type="time" name="time_reserve" id="time_reserve" required>
                            </div>
                            <div class="form_reservation">
                                <input type="submit" class="btn btn-dark" value="Take your reservation">
                            </div>   
                        </form>
        
            </div>

        </div>

    </div>


{% endblock %}