html, body{

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

}

/* Classes */

.marker{

    border: 2px solid red;

}

.center-div{

    padding-top: 15vh;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    
    

}

.custom-navbar{

    font-family: 'Montserrat';
    font-size: 2.9vh;

}

.content-about{

    flex-direction: column;
    text-align: justify;

}

.menu-title{

    font-weight: bold;
    color: gray;
    cursor: pointer;

}

.menu-title>p>span:hover{

    color: darkred;

}

.box-menu{

    height: 50vh;
    width: 50%;
    margin: 10vh;

}

.box-menu>h4,p{

    text-align: center;
    padding-bottom: 3vh;
}

.box-menu>p{

    text-align: justify;

}

.img-menu{

    width: 100%;
    height: 100%;

}

.displayMenu{

    display: none;

}

.form_reservation{
   
    margin-left: 3vh;
    opacity: 80%;
    width: 100%; 
    
}

.form_reservation>input{

    width: 100%;
    cursor: pointer;
    margin-top: 1vh;

}

.form_reservation:hover{

    opacity: 100%;

}


/* ID's */

#navbar_brand{

    
    background: url(../img/barb_brand.svg);
    background-size: contain;   
    height: 12vh;
    width: 12vh;

}

#itensNavbar>li:hover{

    border-bottom: 1px dashed black;

}

#background_index {

    background-image: url('../img/steak_index.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: static;
    max-width: 100%;
    height: 90vh;
    animation: backindex 4s forwards;

}

#background_reservation{

    background-image: url('../img/restaurant-ambient2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: static;
    max-width: 100%;
    height: 90vh;
    filter: grayscale(70%);
    /*animation: backindex 4s forwards;*/
    display: flex;    
    align-items: center;
    justify-content: center;

}

#img-about{

    background: url(../img/meat.svg);
    background-size: contain;   
    height: 8vh;
    width: 8vh;
    filter: grayscale(10%);

}

#squad{

    height: 100%;
    border: black 1px dashed;
    border-radius: 2%;
    padding: 5vh;

}

#title-about{

    align-items: center;

}

#text-about{

    font-family: librebaskerville, sans-serif;
    font-size: 15px;
    margin-top: 5vh;

}



#welcome_f{

   
    font-size: 15vh;
    position: relative;
    animation-name: restaurant;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin-bottom: -5vh;

    
    

}

#welcome_l{

    font-size: 15vh;
    position: relative;
    animation-name: barbecue;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;


}

#beef_burguer, #mega_burguer,#nullan_dictum, #master_burguer, #sallad_caesar{

    display: none;

}

#box_reservation{
   
    height: 50vh;
    align-items: center;
    

}

#confirm_reservation{

    width: 50vh;
    height: auto;
    margin-top: 5vh;
    border: 1.5px black dashed;
    border-radius: 3%;

}

#confirm_reservation>h3{
    text-align: center;
    text-decoration: underline;


}

#confirm_reservation>div{

    font-size: 3vh;
    align-content: center;

}

#confirm_reservation>div>p{

    padding: 5vh;
    border-right: 2px rgb(46, 46, 45) solid;
    border-bottom: 2px rgb(46, 46, 45) solid;
    

}

#confirm_reservation>div.row>span{

    margin-top: 5vh;


}

#box_contact{

    margin-top: 10vh;
    width: 100%;
    height: 50vh;

}

#row_contact{

    align-items: center;
    flex-direction: row;

}

#row_contact>p>img{

    margin: 10vh;
    width: 20vh;
    height: 15vh;
    cursor: pointer;
    filter: grayscale(100%);

}

#row_contact>p>img:hover{

    filter:grayscale(20%)

}


@keyframes restaurant {
    
    0%{ transform: translateX(-50%);}
    from{ opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes barbecue {
    
    0%{ transform: translateX(50%);}
    from{ opacity: 0%;}
    to{opacity: 100%;}
                      

}

@keyframes backindex {

    from {filter: grayscale(60%);}
    to {filter: grayscale(0%)}

}